<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-fab-button size="small" color="primary" (click)="openModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
      <ion-title>My recipes</ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-content>
  
    <ion-list>
      <app-my-recipes-element *ngFor="let recipe of recipes" [recipe]="recipe"></app-my-recipes-element>
    </ion-list>
  </ion-content>
  