<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="fast-food-outline"></ion-icon>
          CKBK
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/profile">
            <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cookbook/tabs/recommended-recipes">  
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label>Recommendations</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cookbook/tabs/my-recipes">  
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label>My recipes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="onLogOut()" routerLink="/log-in">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
