.password {
    overflow: unset;
    white-space: unset;
}

.br-5 {
    border-radius: 5px;
}

.opacity {
    opacity: 0.8;
}

ion-content.background{
    --background: url(https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) 0 0/100% 100% no-repeat;
  }
  