<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm)">
    <ion-grid>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
            <ion-item class="br-5">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" ngModel name="email" required email #email="ngModel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="br-5" lines="none" *ngIf="email.invalid && email.touched">
            <ion-label>Unesite validnu adresu.</ion-label>
          </ion-col>
        </ion-row>
      <ion-row>
      <ion-col>
            <ion-item class="br-5">
              <ion-label position="floating">Lozinka</ion-label>
              <ion-input type="password" ngModel name="password" required minlength="7" #password="ngModel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="br-5" lines="none" *ngIf="password.invalid && password.touched">
            <p class="password">Lozinka mora da ima minimum 7 karaktera.</p>
          </ion-col>
        </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6">
        <ion-button type="submit" expand="block" shape="round" color="secondary" [disabled]="logInForm.invalid">Log in</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label routerLink="/register" color="primary">Nemate nalog? Registrujte se.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>

