<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="create-sharp" (click)="onEditRecipeClick()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="tertiary">
      <ion-icon name="trash-sharp" (click)="onDeleteRecipeClick()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card class="ion-padding">
    <img [src]="recipe.imageUrl">
    <ion-card-header>
      <ion-card-title>{{recipe.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{recipe.text}}</ion-card-content>
  </ion-card>
</ion-content>
