<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" offset="3" offset-lg="5">
        <ion-button
          routerLink="/log-in"
          color="light"
          fill="solid"
          shape="round"
          size="medium"
          class="pr-25"
        >
          <span>Log in</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" offset="3" offset-lg="5">
        <ion-button
          routerLink="/register"
          color="light"
          fill="solid"
          shape="round"
          size="medium"
        >
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
